@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.card_image {
  width: 24rem;
  background-color: hsl(0, 0%, 100%);
  border: 0.0625rem solid hsl(0, 0%, 7%);
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem 0 hsl(0, 0%, 7%);
  padding: 1.5rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.card-image {
  width: 100%;
  border-radius: 0.625rem;
  display: block;
  margin-bottom: 1.5rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.tag {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  font-size: 0.875rem;
  font-weight: 800;
  padding: 6px 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.date {
  font-size: 14px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 12px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  margin-bottom: 12px;
  cursor: pointer;
}

.title:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
  margin-bottom: 24px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 32px;
  height: 32px;
}

.author_name {
  font-size: 14px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

.attribution {
  color:  hsl(0, 0%, 42%);
  
}

.attribution a {
    text-decoration: none;
    color: hsl(216, 15%, 48%)
}

/* Desktop */
@media (min-width: 48rem) {
  .card {
    max-width: 25rem;
    padding: 1.5rem;
  }
  .tag {
    font-size: 0.875rem;
  }

  .date {
    font-size: 0.875rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}